#preview-content {
  min-width: 320px;
}

#preview-mode-switcher,
#preview-mode-switcher::after,
#preview-mode-switcher::before,
#preview-mode-switcher *,
#preview-mode-switcher *::after,
#preview-mode-switcher *::before {
  all: initial;
  font-family: var(--vscode-editor-font-family);
  font-size: 14px;
}

#preview-mode-switcher {
  all: initial;
  border: none;
  position: fixed;
  bottom: 5px;
  left: 5px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  padding: 0;
  max-width: 500px;
  margin: 0 auto;
}

#preview-mode-switcher:hover {
  opacity: 1;
}

#preview-mode-switcher .preview-types-button {
  display: block;
  border: 1px solid var(--vscode-editor-foreground);
  border-right: none;
  padding: 5px 10px;
  color: var(--vscode-editor-foreground);
  background-color: var(--vscode-editor-background);
  cursor: pointer;
  max-width: 100%;
  text-align: center;
}

#preview-mode-switcher .preview-types-button:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#preview-mode-switcher .preview-types-button:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: 1px solid var(--vscode-editor-foreground);
}

#preview-mode-switcher .preview-types-button.active {
  color: var(--vscode-editor-background);
  background-color: var(--vscode-editor-foreground);
}